@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("../../../PointPlot/public/stylesheets/teste.css")'>
    </head>
    <body>

        <h1>Ola, eu sou vermelho</h1>
        <h2>Ola, eu sou menor e sou azul</h2>

        <div class="puta-quadrado-preto">
            <p>SAI DA MINHA CASA</p>
        </div>
        <div class="puta-quadrado-cinza">
            <p>SAI DA MINHA CASA</p>
        </div>
    </body>
</html>